<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} | %5p | %-30.30logger | %m%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <logger name="org.freedesktop.dbus" level="info" />
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>